<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <!-- stylesheets-->
  <link rel="stylesheet" href="bulma.css">
  <style>
    .MJXc-display {
      margin: 0 !important;
    }
  </style>
  <!-- /stylesheets -->

  <!-- scripts-->
  <script src="https://use.fontawesome.com/2bd0c3fbaf.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script src="plotly-latest.min.js"></script>
  <script src="vue.js"></script>
  <script src="interpolation.js"></script>
  <!-- scripts -->
</head>

<body>
  <div id="app">
    <section class="hero is-info has-text-centered">
      <div class="hero-body">
        <h1 class="title is-18">Interpolacion</h1>
      </div>
    </section>
    <main class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-desktop is-10-tablet is-12-mobile">
            <div class="is-12">
              <div class="field is-grouped">
                <div class="control">
                  <div class="field has-addons">
                    <div class="control">
                      <a class="button is-static">
                        $$x$$
                      </a>
                    </div>
                    <div class="control">
                      <input type="number" class="input" v-model="x">
                    </div>
                  </div>
                </div>
                <div class="control">
                  <div class="field has-addons">
                    <p class="control">
                      <a class="button is-static">M&eacute;todo</a>
                    </p>
                    <div class="control">
                      <div class="select">
                        <select v-model="form.method" @change="showTable()">
                          <option value="linear">Linear</option>
                          <option value="lagrange">Lagrange</option>
                          <option value="quadratic">Cuadr&aacute;tica</option>
                        </select>
                      </div>
                    </div>
                    <div class="control">
                      <button class="button is-info" v-if="form.tables.lagrange" @click="addPoint()"><span><i class="fa fa-plus"
                            aria-hidden="true"></i>&nbsp;</span>Puntos</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                <method-table :points="linear" :show="form.tables.linear"></method-table>
                <method-table :points="lagrange" :show="form.tables.lagrange"></method-table>
                <method-table :points="quadratic" :show="form.tables.quadratic"></method-table>
                <button class="button is-primary is-fullwidth" @click="resolve()">Calcular</button>
              </div>
            </div>
            <hr>
            <div id="result" class="is-12" v-show="showResult">
              <div class="content">
                <p class="is-size-3">Resultado</p>
                <br>
                <h2 class="is-size-2">$$ f({{ x }}) \approx {{ fx }} $$</h2>
              </div>

              <div id="chart"></div>
            </div>
          </div>
          <div class="column is-3-desktop">
            <div class="content">
              <blockquote>
                En el subcampo matemático del análisis numérico, se le denomina <b>interpolacion</b> a la
                obtención
                de nuevos puntos partiendo del conocimiento de un conjunto discreto de puntos.
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
<script src="method-table.js"></script>
<script>
  var trace = {
    x: [5, 10, 20],
    y: [113, 153.66666666666666, 181],
    mode: 'lines+markers',
    name: 'Scatter + Lines'
  };

  var data = [trace];

  var layout = {
    title: 'Adding Names to Line and Scatter Plot'
  };

  Plotly.newPlot('chart', data, layout);

  const vm = new Vue({
    el: '#app',
    data: {
      form: {
        method: 'linear',
        tables: {
          linear: true,
          lagrange: false,
          quadratic: false,
          current: 'linear'
        }
      },
      x: '',
      linear: [
        { x: '', fx: '' },
        { x: '', fx: '' }
      ],
      lagrange: [
        { x: '', fx: '' },
        { x: '', fx: '' }
      ],
      quadratic: [
        { x: '', fx: '' },
        { x: '', fx: '' },
        { x: '', fx: '' }
      ],
      showResult: false,
      fx: 0
    },
    methods: {
      showTable() {
        const selectedTable = this.form.method,
          currentTable = this.form.tables.current;
        if (selectedTable !== currentTable) {
          this.form.tables.current = selectedTable;
          this.form.tables[currentTable] = false;
          this.form.tables[selectedTable] = true;
        }
      },
      addPoint() {
        this.lagrange.push({ x: '', fx: '' });
      },
      resolve() {
        this._fx();
        this.showResult = true;
      },
      _getValues(method, axis) {
        return new Promise((resolve, reject) => {
          let values = [];
          const length = this[method].length;
          for (let i = 0; i < length; i++) {
            values.push(Number(this[method][i][axis]));
          }
          resolve(values);
        })
      },
      _fx() {
        const method = this.form.method;
        this._getValues(method, 'x').then(xs => {
          this._getValues(method, 'fx').then(fxs => {
            Interpolation[method](Number(this.x), xs, fxs).then(res => this.fx = res.toFixed(4));
          })
        });
      }
    }
  })
</script>

</html>