<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Interpolaci&oacute;n</title>

  <!-- stylesheets-->
  <link rel="stylesheet" href="bulma.css">
  <style>
    .MJXc-display {
      margin: 0 !important;
    }
  </style>
  <!-- /stylesheets -->

  <!-- scripts-->
  <script src="https://use.fontawesome.com/2bd0c3fbaf.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script src="plotly-latest.min.js"></script>
  <script src="vue.js"></script>
  <script src="interpolation.js"></script>
  <!-- scripts -->
</head>

<body>
  <div id="app">
    <section class="hero is-info has-text-centered">
      <div class="hero-body">
        <h1 class="title is-1">Interpolaci&oacute;n</h1>
      </div>
    </section>
    <main class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-desktop is-12-tablet is-12-mobile">
            <div class="is-12">
              <div class="field is-grouped">
                <div class="control">
                  <div class="field has-addons">
                    <div class="control">
                      <a class="button is-static">
                        $$x$$
                      </a>
                    </div>
                    <div class="control">
                      <input type="number" class="input" v-model="x">
                    </div>
                  </div>
                </div>
                <div class="control">
                  <div class="field has-addons">
                    <p class="control">
                      <a class="button is-static">M&eacute;todo</a>
                    </p>
                    <div class="control">
                      <div class="select">
                        <select v-model="form.method" @change="showTable()">
                          <option value="linear">Linear</option>
                          <option value="lagrange">Lagrange</option>
                          <option value="quadratic">Cuadr&aacute;tica</option>
                        </select>
                      </div>
                    </div>
                    <div class="control">
                      <button class="button is-info" v-if="form.tables.lagrange" @click="addPoint()"><span><i class="fa fa-plus"
                            aria-hidden="true"></i>&nbsp;</span>Puntos</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content">
                <method-table
                  :points="linear"
                  :show="form.tables.linear"
                  :valid="form.valid.linear"
                  v-on:hide-results="showResult = false"
                  v-on:calculate="makeChart()"></method-table>
                <method-table
                  :points="lagrange"
                  :show="form.tables.lagrange"
                  :valid="form.valid.lagrange"
                  v-on:hide-results="showResult = false"
                  v-on:calculate="makeChart()"></method-table>
                <method-table
                  :points="quadratic"
                  :show="form.tables.quadratic"
                  :valid="form.valid.quadratic"
                  v-on:hide-results="showResult = false"
                  v-on:calculate="makeChart()"></method-table>
                <button class="button is-primary is-fullwidth" @click="makeChart()">Calcular</button>
              </div>
            </div>
            <hr>
            <div id="result" class="is-12" v-show="showResult">
              <div class="content">
                <h3 class="is-size-3">Resultado</h3>
                <p class="is-size-2">&#402;({{ x }}) &#8776; {{ fx }}</p>
              </div>
              <div id="chart"></div>
            </div>
          </div>
          <div class="column is-3-desktop is-12-mobile">
            <div class="content">
              <blockquote>
                <p class="is-size-4">Inerpolacion</p>
                En el subcampo matemático del análisis numérico, se le denomina <b>interpolacion</b> a la
                obtención
                de nuevos puntos partiendo del conocimiento de un conjunto discreto de puntos.
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
<script src="method-table.js"></script>
<script>
  const vm = new Vue({
    el: '#app',
    data: {
      form: {
        method: 'linear',
        tables: {
          linear: true,
          lagrange: false,
          quadratic: false,
          current: 'linear'
        },
        valid: {
          linear: false,
          lagrange: false,
          quadratic: false,
        }
      },
      x: '',
      linear: [
        { x: '', fx: '' },
        { x: '', fx: '' }
      ],
      lagrange: [
        { x: '', fx: '' },
        { x: '', fx: '' }
      ],
      quadratic: [
        { x: '', fx: '' },
        { x: '', fx: '' },
        { x: '', fx: '' }
      ],
      showResult: false
    },
    methods: {
      showTable() {
        const selectedTable = this.form.method,
          currentTable = this.form.tables.current;
        if (selectedTable !== currentTable) {
          this.form.tables.current = selectedTable;
          this.form.tables[currentTable] = false;
          this.form.tables[selectedTable] = true;
        }
      },
      addPoint() {
        this.lagrange.push({ x: '', fx: '' });
      },
      makeChart() {
        if (this._validate()) {
          this.showResult = true;
          let name;
          const x = [], fx = [];
          const method = this.form.method;
          const length = this[method].length;
  
          for (let i = 0; i < length; i++) {
            x.push(this[method][i].x);
            fx.push(this[method][i].fx);
          }
  
          switch (method) {
            case 'linear': name = 'Linear'; break;
            case 'lagrange': name = 'Lagrange'; break;
            case 'quadratic': name = 'Cuadratica'; break;
          }
  
          const trace = {
            x: x,
            y: fx,
            mode: 'lines+markers',
            name: `Interpolacion ${name}`
          };
  
          const result = {
            x: [Number(this.x)],
            y: [this.fx],
            type: 'scatter',
            mode: 'markers',
            marker: {
              color: 'rgb(249, 83, 37)',
              size: 10
            },
            name: 'Resultado'
          };
          
          const data = [trace, result];
  
          const layout = {
            title: `Interpolacion ${name}`
          };
  
          Plotly.react('chart', data, layout, { editable: false });
        }
      },
      _validate() {
        const method = this.form.method;
        const data = this[method];
        const length = this[method].length;
        for (let i = 0; i < length; i++) {
          if (!/\d+(,\d+)?/.test(data[i].x) || !/\d+(,\d+)?/.test(data[i].fx)) {
            alert("Los valores deben de ser númericos");
            return false;
          }
          return true;
        }
      },
      _getValues(method, axis) {
        let values = [];
        const length = this[method].length;
        for (let i = 0; i < length; i++) {
          values.push(Number(this[method][i][axis]));
        }
        return values;
      }
    },
    computed: {
      fx() {
        const method = this.form.method;
        const fxs = this._getValues(method, 'fx'),
          xs = this._getValues(method, 'x');
        try {
          return Interpolation[method](Number(this.x), xs, fxs).toFixed(4);
        } catch (err) {
          console.error(err);
        }
      }
    },
    created() {
      Plotly.newPlot('chart', [], { title: 'layout' });
    }
  })
</script>

</html>